body {
  font-family: "Helvetica", sans-serif;
  color: #666666;
  margin: 0px;
}

header {
  text-align: center;
  background-color: rgba(256,256,256, 0.85);
  color: black;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: 230px;
  margin-right: 230px;
}

.headerbox {
  padding: 50px;
  background-image: url("style_images/header.png");
  background-size: cover;
  background-position: center;
  height: 400px;
}


h1 {
  font-size: 36px;
}

h1, h2 {
  font-family: "Garamond", serif;
  color: #120000;
}

h3, h4  {
  color: #2e2d2d;
}

a {
  text-decoration: none;
  color: #6a4040;
}

ul {
  list-style: none;
}

ul a {
  font-weight: bold;
}

body {
  line-height: 1.5;
}

.row {
  display: flex;
  flex-direction: row;
}

.box {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  padding: 20px;
}

.mainbox {
  width: 80%;
  padding: 100px;
}

.menubox {
  width: 20%;
  padding-top: 100px;
  padding-left: 80px;
  padding-right: 20px;
}

nav li {
  padding-bottom: 40px;
}

.current {
  color: #c6643a;
}

nav a {
  font-size: 18px;
}
h2 {
  font-size: 35px;
}


.date .box {
  font-weight: bold;
  color: #4e4e4e;
  margin: 0px;
  padding: 0px;
}

img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon img{
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

header p {
  padding: 15px;
}

.date p {
  margin: 0;
  margin-bottom: 15px;
}

.hours {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hours h4 {
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.announcement {
  margin-bottom: 50px;
  padding: 18px;
  background-color: #fcfac1;
  border-color: #f4d995;
  border-width: medium;
  border-style: solid;
}

.footer {
  background-color: #d9d9d9;
  padding: 20px;
}

.footer .box {
  padding: 40px;
}

.gallery .box {
  width: 50%;
}

figcaption {
  text-align: center;
  color: #8f8f8f;
}

#map {
  width: 100%;
}

.timetable p{
  margin: 0px;
}

.mainbox a {
  color: #c6643a;
}

.halfwidth {
  width: 50%;
}

.vendorlist .box {
  text-align: center;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
  margin-bottom: 70px;
  flex-wrap: wrap;
  width: 25%;
}

.performerlist .row {
  text-align: center;
  line-height: 2;
}

.performerlist .box h4 {
  text-align: center;
}

.scheduletime {
  font-weight: bold;
  padding: 0;
  text-align: left;
}

.artist {
  padding: 0;
  text-align: left;
}

.faq {
  margin-right: 100px;
}

@media screen
  and (max-width: 900px) {
    h1  {
      font-size: 28px;
    }

    header {
      color: black;
      height: 34vh;
      margin: 6vh;
      padding: 1vh;
    }

    .headerbox {
      padding: 0;
      height: 46vh;
    }

    header p {
      font-size: 13px;
    }

    header > p {
      display: none;
    }

    body > .row {
      flex-flow: column;
    }

    .menubox {
      flex-grow: 1;
      flex-flow: row;
      width: 100%;
      padding: 0;
      margin: 0;
      background-color: #e8e7e6;
    }

    nav ul {
      padding: 3vh;
      padding-left: 5vh;
      padding-right: 5vh;
    }

    nav li {
      padding: 2vh;
    }

    nav p {
      display: none;
    }

    .current {
      padding: 2.5vh;
      text-decoration: underline;
    }

    .intro {
      flex-grow: 1;
      flex-flow: row;
      width: 100%;
      padding: 0;
      margin: 0;
    }

    .mainbox .row {
      margin: 0;
      padding: 0;
      flex-direction: column;
    }

    .mainbox {
      padding: 6vh;
    }

    .mainbox p {
      text-indent: 3vh;
      text-align: left;
    }

    .mainbox h1,h2,h3,h4 {
      text-align: center;
    }

    .gallery .box {
      width: 100%;
      flex-flow: column;
      margin: 0;
      padding: 0;
    }

    figure, figcaption {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .vendorlist .box,ul {
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .vendorlist * h4 {
      margin-top: 6vh;
      margin-bottom: 1vh;
    }

    .performers {
      margin-top: 10vh;
      margin-bottom: 3vh;
    }

    .performerlist .row {
      font-size: 14px;
      flex-flow: row;
    }

    .performerlist .box {
      width: 100%;
    }

    .footer {
      padding: 6vh;
    }

    .footer .box {
      padding: 1vh;
      text-align: left;
    }
}
